In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [9]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
connection = engine.connect()

In [10]:
# reflect an existing database into a new model
base = automap_base()
# reflect the tables
base.prepare(autoload_with=engine)

In [11]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [12]:
# Save references to each table
station = base.classes.station
measurement = base.classes.measurement

In [13]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [14]:
# Find the most recent date in the data set.
most_recent = session.query(measurement.date).order_by(measurement.date.desc()).first()
print(most_recent)
first_row = session.query(measurement).first()
first_row.__dict__

('2017-08-23',)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1acf0912c48>,
 'date': '2010-01-01',
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65.0,
 'id': 1}

In [23]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

import datetime as dt
from datetime import date


# Calculate the date one year from the last date in data set.
most_recent_date_str = most_recent.date
most_recent_date = date.fromisoformat(most_recent_date_str)
one_year_ago = date((most_recent_date.year - 1), most_recent_date.month, most_recent_date.day).isoformat()

# Perform a query to retrieve the data and precipitation scores
data = session.query(measurement.date, measurement.station, measurement.prcp).\
    filter (measurement.date > one_year_ago).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
data_df = pd.DataFrame(data, columns =['Date', 'Station', 'Prcp'])
data_df = data_df.set_index('Date')

# Sort the dataframe by date
data_df.sort_index(inplace = True, ascending=True)
data_df = data_df.dropna(how='any')


# Use Pandas Plotting with Matplotlib to plot the data

data_df.head()

                Station  Prcp
Date
2016-08-24  USC00519397  0.08
2016-08-24  USC00519281  2.15
2016-08-24  USC00514830  2.28
2016-08-24  USC00513117  2.15
2016-08-24  USC00516128  1.45

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()